.banner {
    color: darkslategray;
    text-align: center;
    background-color: khaki;
}

/*.page-item {*/
    /*display: inline-block;*/
/*}*/

                                                                                   /*.pagination {*/
                                                                                        /*display: block;*/
                                                                                    /*}*/
